<!DOCTYPE html>
<html>

    <head>
        {% if request.user.is_authenticated %}
        <p> <a href="{% url 'home' %}"> Home </a> | <a href="{% url 'logout' %}"></a></p>
        <p> Hello, {{request.user.username}}| <a href="{% url 'logout' %}"> Logout</a></p>
        {% else %}
        <p> <a href="{% url 'home' %}"> Home</a> | <a href="{% url 'register' %}"> Register</a> | <a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </head>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock %}
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Developed with Django</p>
        </footer>
    </body>
</html>
